/* .container-main{
    width: 350px;
    height: 500px;
    background-image: white;
    overflow: hidden;
    margin-bottom: 50%;
    background-color: #3a2b4ebd;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin: auto;
} 

.nav-bar {
    display: flex;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;
    height: 80px;
    color: blanchedalmond;
    justify-content: space-between;
}

.logoPagefeed {
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.photo {
    margin: 2rem 0;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.btn-logout{
   width: 30%;
    margin-left: 20%;
    margin-right: 5%;
}

.img-photo{
    position: absolute;
    flex-direction: row;
    float: right;
    width: 35px;
    height: 35px;
    opacity: 70%;
}

.new-post{
    background-color: #63bbd9e0;
    width: 90%;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 5px;
    margin-top: 20px;
    color: black;
}

.btn-publicar{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 2px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    background-color: #f3a63a;
}

.btn-publicar:hover{
    background: #7e561e;
}

.container-post-publicado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.post-publicado{
    background-color: #a2dcf0ab;
    width: 80%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    font-size: 18px;
    text-align: left;
}

.container-icons{
    display: flex;
    margin: 8px;
}

.icons-post{
    margin: 0 4px;
    display: flex;
}

.btn-like{
    color: black;
    background: white;
    cursor: pointer;
}

.liked{
    background-color: red;
} */