
/*.l-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 4fr;
    grid-template-rows: 0.5fr 0.25fr 3fr 0.25fr;
    grid-template-areas: 
    "main-title"
    "phrase"
    "login"
    "footer";
    grid-gap: 0.3rem;
}


.main-title {
   grid-area: main-title;
}

.phrase {
    grid-area: phrase;

}

.login {
    grid-area: login;

}

.footer {
    grid-area: footer;
}
*/

#root {
    text-align: center;
}

#login {
    display: inline-block;
    margin: 10px;
}

h2 {
    margin: 10px;
}

.text-field {
    flex-direction:column;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.pswd-recover {
    display: inline-block;
    margin: 15px;
}

.btn {
    flex-flow: column-reverse;
    align-items: center;
    margin: 45px;
}