*{
    margin: 0;
    padding: 0;
    border: 0;
}

.background{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;   
    width: 100%;
    height: 100%;
}

.background-feed{
    background: white;
}

.container-main{
    width: 90%;
    height: 500px;
    background-image: white;
    overflow: hidden;
    margin-bottom: 50%;
    background-color: #3a2b4e8a;
    border-radius: 10px;
    margin: auto;
}

.container-feed{
    width: 100%;
    height: 100%;
}

.logo-img{
    display: flex;
    width: 40%;
    height: 60%;
    margin: 2px auto;
    align-items: center;
    justify-content: center;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

.label{
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: 60%;
    height: 15px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.icons-input{
    border: none;
    position: absolute;
    margin-left: 75%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login{
    border: none;
    display: flex;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image{
    margin-left: 30px;
    width: 110px;
}

.btn-publicar{
    margin-top: 8px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    background-color: #f3a63a;
    justify-content: flex-end;
    margin: 5px 10px 0 0;
}

.icons{
    float: right;
    display: flex;
    position: relative;
    flex-direction: column;
    color: grey;
    border: none;
}

.btn{
    width: 40%;
    height: 35px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #ae435b;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.btn:hover{
    background: #2a1949;
}

.login{
    height: 600px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.edit-post{
    display: block;
    align-items: center;
    justify-content: right;
    float: right;
}

.login .label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}

#chk:checked ~ .login .label{
    transform: scale(1);
}

#chk:checked ~ .signup .label{
    transform: scale(.6);
}

.checkbox-container{
    display: flex;
}

.checkbox{
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 20px 20px;
}

.checkbox-phrase{
    font-size: 12px;
    margin: 20px auto;
}

.btn-google {
    width: 13%;
    height: 13%;
    display: flex;
    margin-top: 20px;
    margin-left: 45%;
    margin-right: 50%;
}

.phrase {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#hide, #hide-again, #hide-login{
    display: none;
}

.root {
    text-align: center;
    padding-bottom: 125px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;   
}

.root-feed{
    background: transparent
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 30px;
    font-size: 17px;
    color: white;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;
    padding-top: 8px;
    text-align: center;

}

.footer a {
    text-decoration: none;
    color: white;
}

.meme-senha{
    width: 55%;
    height: 55%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
}

.btn-back{
    background-color: #998daf;
}

.btn-back:hover{
    background-color: #521a26;
}

/* PÁGINA DO FEED */
.nav-bar {
    display: flex;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;
    height: 80px;
    color: blanchedalmond;
    justify-content: space-between;
}

.logoPageFeed {
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.photo {
    margin: 2rem 0;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.btn-logout{
   width: 30%;
    margin-left: 20%;
    margin-right: 5%;
}

.img-photo{
    position: absolute;
    flex-direction: row;
    float: right;
    width: 35px;
    height: 35px;
    opacity: 70%;
}

.new-post{
    background-color: #63bbd9e0;
    width: 90%;
    height: 80px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    color: black;
    resize: none;
}

.btn-publicar:hover{
    background: #7e561e;
}

.container-post-publicado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.iniciais{
    position: absolute;
    border: 25px solid rgb(180, 180, 180);
    clip-path: circle(45%);
}

.post-publicado{
    background-color: white;
    width: 60%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
    font-size: 18px;
    text-align: left;
    padding: 20px;
    resize: none;
    border: 15px solid #a2dcf0ab;
    border-bottom: 40px solid #a2dcf0ab;
}

.container-icons{
    display: flex;
    margin: 8px;
}

.icons-post{
    margin: 0 4px;
    display: flex;
    cursor: pointer;
    text-decoration: bold;
}

.liked{
    background-color: red;
}

.stars #label-star{
    font-size: 30px;
    margin: 0 3px;
    color: #ccc;
}
#star-1:hover ~ .content .stars .star-1,
#star-1:checked ~ .content .stars .star-1,

#star-2:hover ~ .content .stars .star-1,
#star-2:hover ~ .content .stars .star-2,
#star-2:checked ~ .content .stars .star-1,
#star-2:checked ~ .content .stars .star-2,

#star-3:hover ~ .content .stars .star-1,
#star-3:hover ~ .content .stars .star-2,
#star-3:hover ~ .content .stars .star-3,
#star-3:checked ~ .content .stars .star-1,
#star-3:checked ~ .content .stars .star-2,
#star-3:checked ~ .content .stars .star-3,

#star-4:hover ~ .content .stars .star-1,
#star-4:hover ~ .content .stars .star-2,
#star-4:hover ~ .content .stars .star-3,
#star-4:hover ~ .content .stars .star-4,
#star-4:checked ~ .content .stars .star-1,
#star-4:checked ~ .content .stars .star-2,
#star-4:checked ~ .content .stars .star-3,
#star-4:checked ~ .content .stars .star-4,

#star-5:hover ~ .content .stars .star-1,
#star-5:hover ~ .content .stars .star-2,
#star-5:hover ~ .content .stars .star-3,
#star-5:hover ~ .content .stars .star-4,
#star-5:hover ~ .content .stars .star-5,
#star-5:checked ~ .content .stars .star-1,
#star-5:checked ~ .content .stars .star-2,
#star-5:checked ~ .content .stars .star-3,
#star-5:checked ~ .content .stars .star-4,
#star-5:checked ~ .content .stars .star-5{
    color: #fd4;
}
.wrapper{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="radio"]{
    display: none;
}

/* MENU HAMBURGUER */
nav .nav{
    height: 50vh;
    position: fixed;
    margin-top: 80px;
    right: 0px;
    left: 150px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ae435ae5;
    transition: top 1s ease;
    display: none;
}

nav .nav #closeMenu{
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
}

nav #openMenu{
    display: block;
}

nav .nav li a:hover{
    background: none;
    color: rgb(255,123, 0);
    font-size: 1.6rem;
}

.menu{
    width: 35px;
    height: 30px;
    margin: 30px 2% 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.change .bar{
    background-color: white;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}

.change #bar2{
    opacity: 0;
}

.change{
    display: block;
}

ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}

ul li{
    list-style: none;
    padding: 16px 0;
}


/* PÁGINA DE PROFILE */

.photo-profile{
    display: flex;
    height: 125px;
    justify-content: center;
    clip-path: circle(20%);
}

.photo-profile-post{
    clip-path: circle(44%);
    margin-right: 10%;
}

.label-profile{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.input-photo{
    margin: 10px 0 25px 0;
    display: inline-block;
    align-items: center;
}

.input-photo-post{
    margin: 10px 0 10px 0;
}

.btn-save{
    margin-top: 30px;
}

@media screen and (min-width: 426px) and (max-width:768px){
    .logo-img{
        width: 25%;
        height: 45%;
    }
    .icons-input{
        margin-left: 77%;
        margin-top: 2.5%;
    }
    
    .checkbox-phrase{
        font-size: 15px;
    }
    
    .checkbox{
        margin: 23px 90px;
    }

    .btn-google {
        width: 10%;
    }
    .phrase{
        font-size: 14px;
    }
    .meme-senha{
        width: 28%;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .logo-img{
        width: 27%;
        height: 33%;
        margin: 22% 10%;
        position: absolute;
    }
    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 18%;
    }
    .icons-input{
        margin-top: 4%;
    }    
    .checkbox{
        margin: 23px 45px;
    }
    .checkbox-phrase{
        font-size: 16px;
    }
    .meme-senha{
        width: 35%;
    }
    .btn-logout{
        width: 10%;
        margin-top: 2%;

     }
     .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px){
    .logo-img{
        width: 27%;
        height: 40%;
        margin: 15% 10%;
        position: absolute;
    }
    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 17%;
    }

    .container-icons{
        font-size: 20px;
    }

    .icons-input{
        margin-top: 4%;
    }    
    .checkbox{
        margin: 23px 45px;
    }
    .checkbox-phrase{
        font-size: 16px;
    }
    .meme-senha{
        width: 35%;
    }
    .btn-logout{
        width: 10%;
        margin-top: 2%;

     }
     .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }

    .new-post{
        width: 68%;
        font-size: 25px;
        padding: 12px;
        margin: 31px 15% 0 0;
    }

    .input-photo-post{
        margin-right:16%;
        font-size: 16px;
    }

    .btn-publicar{
        margin-right: 15%;
        width: 10%;
        height: 40px;
        font-size: 20px;
    }

    .post-publicado{
        font-size: 22px;
        height: 100px;
    }

    .menu{
        margin-right: 2%;
    }

    .photo-profile-post{
        margin-right: 2%;
    }

    nav .nav{
        left: 65%;
    }
}

@media screen and (min-width: 1441px){ /* FALTA ARRUMAR ESSE*/
    .logo-img{
        width: 27%;
        height: 40%;
        margin: 15% 10%;
        position: absolute;
    }

    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 46%;
    }

    .icons-input{
        margin-top: 4%;
    }  

    .checkbox{
        margin: 23px 45px;
    }

    .checkbox-phrase{
        font-size: 16px;
    }

    .meme-senha{
        width: 35%;
    }

    .btn-logout{
        width: 10%;
        margin-top: 2%;
    }

    .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }
    
    .new-post{
        width: 68%;
        font-size: 25px;
        padding: 12px;
        margin: 31px 15% 0 0;
    }

    .input-photo-post{
        margin-right:16%;
        font-size: 16px;
    }

    .btn-publicar{
        margin-right: 15%;
        width: 10%;
        height: 40px;
        font-size: 20px;
    }

    .post-publicado{
        font-size: 22px;
        height: 100px;
    }

    .menu{
        margin-right: 2%;
    }

    .photo-profile-post{
        margin-right: 2%;
    }

    nav .nav{
        left: 65%;
    }
}

