html, body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* FUNDO DAS PÁGINAS DE LOGIN/RECUPERAR/PROFILE*/
.background{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;   
    width: 100%;
    height: 100%;
}

/* LOGO DAS PÁGINAS */
.logo-img{
    width: 50%;
    margin: 8px 0 0 0;
}

/* ESTILIZAÇÃO DA ROOT PARA RECEBER TUDO */
.root {
    text-align: center;
    height: 100%;
}

/* ESTILIZAÇÃO E ANIMAÇÃO DA CAIXA NAS PÁGINAS DE LOGIN/RECUPERAR/PROFILE */
.container-main{
    width: 90%;
    height: 500px;
    background-image: white;
    overflow: hidden;
    margin-bottom: 50%;
    background-color: #4d2f758a;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 0px 30px 0px rgb(255 22 255);
}

.container-profile{
    box-shadow: 0px 0px 30px 0px #52ebff;
}

.container-recover{
    box-shadow: 0px 0px 30px 0px #fe6161;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

.label{
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    display: flex;
    margin: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input, .name-input, .email-input{
    width: 60%;
    height: 15px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-login{
    border: none;
    display: flex;
}

.login{
    height: 600px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login .label{
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}

#chk:checked ~ .login .label{
    transform: scale(1);
}

#chk:checked ~ .signup .label{
    transform: scale(.6);
}

.checkbox-container{
    display: flex;
    margin: 7px 0 16px 0;
}

.checkbox{
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 20px;
}

.checkbox-phrase{
    font-size: 12px;
    margin: 20px auto;
}

/* ICONE DE CADEADO */
#hide, #hide-again, #hide-login{
    display: none;
}

/* ESTILIZAÇÃO ICONE DO GOOGLE */
.btn-google {
    width: 13%;
    height: 13%;
    display: flex;
    margin-top: 30px;
    margin-left: 45%;
    margin-right: 50%;
}

/* ESTILIZAÇÃO FRASE DO GOOGLE */
.phrase {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* FINAL ESTILIZAÇÃO E ANIMAÇÃO DA CAIXA NAS PÁGINAS DE LOGIN/RECUPERAR/PROFILE */


/* ESTILIZAÇÃO DOS ICONES DOS INPUTS */
.icons-input{
    border: none;
    position: absolute;
    margin-left: 75%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-recover{
    margin-left: 69%;
    margin-top: 5%;
}

.icons{
    float: right;
    display: flex;
    position: relative;
    flex-direction: column;
    color: grey;
    border: none;
}
/* FINAL ESTILIZAÇÃO DOS ICONES DOS INPUTS */


/* BOTÕES EM GERAL */
.btn{
    width: 40%;
    height: 35px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #ae435b;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.btn:hover{
    background: #72051d;
}

.btn-back{
    background-color: #998daf;
}

.btn-back:hover{
    background-color: #1e0747;
}
/* FINAL BOTÕES EM GERAL */


/* IMAGEM DO RECUPERAR A SENHA */
.meme-senha{
    width: 50%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
}

/* PÁGINA DO FEED */
/* ESTILIZAÇÃO DA ROOT FEED PARA RECEBER TUDO */
.root-feed{
    background: transparent
}

/* FUNDO DA PÁGINA DE FEED */
.background-feed{
    background: white;
}

/* LOGO DA PÁGINA DE FEED */
.logoPageFeed {
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

/* ESTILIZAÇÃO DO CONTAINER PARA RECEBER TUDO DO FEED */
.container-feed{
    width: 100%;
    padding-bottom: 50px;
}

/* PARTE ROXA DE CIMA ONDE FICA O MENU E O LOGO */
.nav-bar {
    display: flex;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) ;
    height: 80px;
    color: blanchedalmond;
    justify-content: space-between;
    box-shadow: 0px 0px 25px 0px rgb(255 22 255);
}

/* BOTÃO DE SAIR */
.btn-logout{
    width: 30%;
     margin-left: 20%;
     margin-right: 5%;
 }

/* CONTAINER ONDE VAI FICAR O NEW POST */
.container-new-post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 82%;
    background: #bfe0f3b6;
    border-radius: 10px;
    padding: 2%;
    margin-top: 35px;
    margin-left: 7%;
    margin-bottom: 45px;
    box-shadow: 5px 10px 10px rgb(0 0 0 / 32%);
}

/* CAMPO PARA PUBLICAR NOVO POST */
.new-post{
    background-color: #63bbd9e0;
    width: 90%;
    align-items: center;
    height: 100px;
    text-align:left;
    padding: 7px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    color: black;
    resize: none;
}

/* INSERIR IMAGEM NO POST */
.input-photo-post{
    margin: 10px 0 10px 0;
}

/* BOTÃO DE PUBLICAR */
.btn-publicar{
    margin-top: 8px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.315);
    background-color: #f3a63a;
    justify-content: flex-end;
    margin: 5px 10px 0 0;
}
/* FINAL CONTAINER ONDE VAI FICAR O NEW POST */

/* CONTAINER DE POSTS PUBLICADOS/A PÁGINA TODA */
.container-post-publicado{
    display: flex;
    width: 85%;
    margin-left: 5%;
    flex-direction: column;
    margin-bottom: 48px;
    border-radius: 10px;
    background: #bfe0f3b6;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.315);
    padding: 2%;
}

/* IMAGEM DO POST*/
.photo-post{
    width: 20%;
    position: absolute;
    display: flex;
    clip-path: circle(40%);
    margin-top: -11px;
}

/* CONTAINER PARA INFORMAÇÕES DO USUÁRIO */
.info-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

/* NOME DO USUÁRIO NO POST */
.user-name{
    font-weight: 600;
    width: 100%;
    font-size: 20px;
}

/* DATA DO POST */
.data-post{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.icons-post-feed{
    display: flex;
}

/* BOTÃO DE DELETAR*/
.delete-button{
    display: flex;
    width: 8%;
}
/* FINAL CONTAINER PARA INFORMAÇÕES DO USUÁRIO */


/* CONTAINER PARA O CONTEUDO DO POST - TEXTOS/IMAGENS */
.post-publicado{
    background-color: white;
    width: 93%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    resize: none;
    border-top: 20px solid #7cc1d9;
}

.img-post{
    width: 100%;
}
/* FINAL CONTAINER PARA O CONTEUDO DO POST - TEXTOS/IMAGENS */

/* CONTAINER PARA ICONES DO POST */
.container-icons{
    display: flex;
    margin: 8px;
    width: 100%;
}

/* ICONES DO POST */
.icons-post{
    margin: 0 15px;
    display: flex;
    cursor: pointer;
    text-decoration: bold;
}

/* BOTÃO DE CURTIR*/
.btn-like{
    display: flex;
    float: left;
}

/* MUDAR A COR DO BOTÃO DE CURTIR */
.liked::before{
    color: yellow;
}

/* BOTÃO DE EDITAR*/
.btn-edit{
    display: flex;
    width: 8%;
    float: right;
}

/* BOTÃO DE SALVAR O EDITAR*/
.btn-save{
    width: 8%;
    float: right;
}

/* EDITAR O POST */
.edit-post{
    display: block;
    align-items: center;
    justify-content: right;
    float: right;
}

/* ESCONDER BOTÃO DE EDITAR O POST */
.hidden-content{
    display: none!important;
}

/* MOSTRAR BOTÃO DE EDITAR O POST */
.show-content{
    display: block!important;
}

/* FOCAR O TEXAREA PARA QUANDO CLICAR NO EDITAR */
textarea:focus{
    border-color: #b81568;
}
/* FINAL EDITAR O POST */


/* MENU HAMBURGUER */
nav .nav{
    height: 50vh;
    position: fixed;
    margin-top: 80px;
    right: 0px;
    left: 150px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ae435ae5;
    transition: top 1s ease;
    display: none;
}

nav .nav #closeMenu{
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
}

nav #openMenu{
    display: block;
}

.menu{
    width: 35px;
    height: 30px;
    margin: 30px 2% 20px 20px;
    cursor: pointer;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #b81568;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.change .bar{
    background-color: #f74ea5;
}

.change #bar1{
    transform: translateY(4px) rotateZ(180deg);
}

.change #bar2{
    transform: translateY(-10px) rotate(180deg);
}

.change #bar3{
    transform: translateY(4px) rotate(180deg);
}

.change{
    display: block;
}

ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover {
    border-top: 2px solid rgb(31, 200, 252);
    border-bottom: 2px solid rgb(31, 200, 252);
}

ul li{
    list-style: none;
    padding: 16px 0;
}
/* FINAL MENU HAMBURGUER */


/* PÁGINA DE PROFILE */
.photo-profile{
    display: flex;
    height: 135px;
    justify-content: center;
    clip-path: circle(20%);
}

.photo-profile-post{
    clip-path: circle(44%);
    margin-right: 10%;
}

.label-profile{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.input-photo{
    margin: 10px 0 25px 0;
    display: inline-block;
    align-items: center;
}
/* FINAL PÁGINA DE PROFILE */


/* MODAL DO PROFILE */ 
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: #b81569ed;
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.modal-phrase{
    padding: 10px 30px;
    color: white;
    border: none;
    position: absolute;
    font-size: 19px;
}

.modal-close{
    position: absolute;
    top: 37%;
    right: 26%;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    width: 6%;
    height: 20px;
    background-color: rgb(31, 200, 252);
    border-radius: 6px;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.808);
}

.modal button{
    background-color: turquoise;
    width: 10%;
    height: 20px;
    border: none;
}
/* FINAL DO MODAL DO PROFILE */ 

/* ESTILIZAÇÃO DO FOOTER */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    font-size: 17px;
    color: white;
    background: #302b63;
    padding-top: 8px;
    text-align: center;

}

.footer a {
    text-decoration: none;
    color: white;
}
/* FINAL ESTILIZAÇÃO DO FOOTER */


@media screen and (min-width: 426px) and (max-width:768px){
    .logo-img{
        width: 25%;
        height: 45%;
    }
    .icons-input{
        margin-left: 77%;
        margin-top: 2.5%;
    }
    
    .checkbox-phrase{
        font-size: 15px;
    }
    
    .checkbox{
        margin: 23px 90px;
    }

    .btn-google {
        width: 10%;
    }
    .phrase{
        font-size: 14px;
    }
    .meme-senha{
        width: 28%;
    }
    
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .logo-img{
        width: 27%;
        height: 33%;
        margin: 22% 10%;
        position: absolute;
    }
    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 18%;
    }
    .container-post-publicado{
        width: 70%;
    }
    .icons-input{
        margin-top: 4%;
    }    
    .checkbox{
        margin: 23px 45px;
    }
    .checkbox-phrase{
        font-size: 16px;
    }
    .meme-senha{
        width: 35%;
    }
    .btn-logout{
        width: 10%;
        margin-top: 2%;

     }
     .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .footer{
        font-size: 17px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px){
    .logo-img{
        width: 27%;
        height: 40%;
        margin: 15% 10%;
        position: absolute;
    }

    .container-post-publicado{
        width: 60%;
        margin-left: 18%;
    }
    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 17%;
    }

    .container-icons{
        font-size: 20px;
    }

    .icons-input{
        margin-top: 4%;
    }    
    .checkbox{
        margin: 23px 45px;
    }
    .checkbox-phrase{
        font-size: 16px;
    }
    .meme-senha{
        width: 35%;
    }
    .btn-logout{
        width: 10%;
        margin-top: 2%;

     }
     .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }

    .post{
        width: 70%;
        margin-left: 12%;
    }

    .new-post{
        width: 80%;
        font-size: 25px;
        padding: 12px;
        margin-left: 4%;
    }

    .input-photo-post{
        margin-right:16%;
        font-size: 16px;
    }

    .btn-publicar{
        margin-bottom: 2%;
        width: 10%;
        height: 40px;
        font-size: 20px;
        align-items: center;
    }

    .input-photo-post{
        margin-left: 15%;
    } 

    .post-publicado{
        font-size: 22px;
        height: 100px;
    }

    .menu{
        margin-right: 2%;
    }

    .photo-profile-post{
        margin-right: 2%;
    }

    nav .nav{
        left: 65%;
    }
}

@media screen and (min-width: 1441px){ /*FALTA ARRUMAR ESSE*/
    .logo-img{
        width: 27%;
        height: 40%;
        margin: 15% 10%;
        position: absolute;
    }

    .container-main{
        width: 50%;
        margin-right: 5%;
        padding-top: 46%;
    }

    .icons-input{
        margin-top: 4%;
    }  

    .checkbox{
        margin: 23px 45px;
    }

    .checkbox-phrase{
        font-size: 16px;
    }

    .meme-senha{
        width: 35%;
    }

    .btn-logout{
        width: 10%;
        margin-top: 2%;
    }

    .logoPageFeed {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        margin-top: 3px;
    }
    
    .new-post{
        width: 68%;
        font-size: 25px;
        padding: 12px;
        margin: 31px 15% 0 0;
    }

    .input-photo-post{
        margin-right:16%;
        font-size: 16px;
    }

    .btn-publicar{
        margin-right: 15%;
        width: 10%;
        height: 40px;
        font-size: 20px;
    }

    .post-publicado{
        font-size: 22px;
        height: 100px;
    }

    .menu{
        margin-right: 2%;
    }

    .photo-profile-post{
        margin-right: 2%;
    }

    nav .nav{
        left: 65%;
    }
}

